.page-header{
  background-image: url("https://static.pexels.com/photos/221180/pexels-photo-221180.jpeg");
  background-size:cover;
  width:100%;
  padding-top: 100px;
  margin:0;
}
.text{
  text-align: center;
  font-size: 70px;
  height:auto;
  font-weight: bold;
  color: white;
  padding-bottom: 50px;
}
@media only screen (max-width: 768px) {
  {
  width:100%;
}
}
div.container-fluid {
  padding-left: 0;
  padding-right:0;
}
.introduction {
  height:auto;
  text-align:center;
  color:#E44424;
  padding-top: 0cm;
}
* { color:#E44424; text-decoration: none;}
