.page-header{
  background-image: url("https://static.pexels.com/photos/221180/pexels-photo-221180.jpeg");
  background-size:cover;
  width:100%;
  padding-top: 100px;
  margin:0;
}
.text{
  text-align: center;
  font-size: 70px;
  height:auto;
  font-weight: bold;
  color: white;
  padding-bottom: 50px;
}
@media only screen (max-width: 768px) {
  {
  width:100%;
}
}
div.container-fluid {
  padding-left: 0;
  padding-right:0;
}
.introduction {
  height:auto;
  text-align:center;
  color:#E44424;
  padding-top: 0cm;
}
* { color:#E44424; text-decoration: none;}
.orange {
  background-color: :#E44424;
}
div.a {
  position: relative;
  float: left;
  left:50%
  list-style-type:none;
  margin:0;
}
.btn {
  position: absolute;
  margin-left: 0;
}
footer.myfooter {
  background: orange;
  border-top: 4px solid #b78c33;
  height: auto;
  width: 100%;
}
footer.text {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1170px;
  text-align: center;
  }
  footer.text p {
    font-size: 13px;
    color: #999;
    margin-top: 30px;
  }
  footer.text .social-media {
    margin-top: 15px;
  }
  footer.text .social-meida ul li a {
    display: inline-block;
    width: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: #b78c33;
    border: 1px solid rgb(255, 255, 255, 0.3);
  }
  footer.text .social-media ul li a:hover {
    background-color: #b78c33;
    color: #fff;
    border-color: #b78c33;
  }
  footer.copyyright {
    margin-top:15px;
    background: #111;
    padding: 7px 0;
    color:#999;
  }
  footer.copyyright p {
    margin: 0;
    padding: 0;
  }
  .cliackable {
    cursor: pointer;
  }
  #hobby {
    display:none;
  }
